@import './new.css';
@import './card.css';
@import './navbar.css';
@import './page.css';
@import './language.css';
@import './settings_page.css';

body {
    overflow: hidden;
    user-select: none;
}

code {
    font-weight: 600;
    padding: 3px 5px;
    border-radius: 2px;
    background-color: var(--color-background-mute);
    font-family:
        ui-monospace,
        SFMono-Regular,
        SF Mono,
        Menlo,
        Consolas,
        Liberation Mono,
        monospace;
    font-size: 85%;
}

#root {
    min-height: 100vh;
    min-width: 100%;
    margin: 0;
    display: flex;
}

.main-container {
    flex: 1;
}

.page-wrapper {
    flex: 1;
    height: 100%;

}

.title {
    font-size: 5vw;
    font-family: 'Teko', sans-serif;
    color: white;
    margin-bottom: auto;
}

.title-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 100%;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.back-icon {
  position: absolute;
  left: 0;
  background-color: rgba(28, 28, 29, 0.38);
  border-radius: 5px;
  cursor: pointer;
}

.back-icon:hover {
  background-color: rgba(28, 28, 29, 0.60);
}

.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
}

.credits-page-container{
    display: flex;
    margin-top: 5vh;
    height: 100%;
    justify-content: center;
}

.credits-information-container{
    width: 90%;
}

.information-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.credits{
      font-weight: bold;
}

.github-link{
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
