@import './mergepage.css';


.one-pdf-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    padding: 2rem;
}

.select-PDF {
    height: 45vh;
    width: 90%;
    background-color: rgba(24, 24, 27, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: #8A8A8A;
    border-style: dashed;
}

.split-select-PDF {
    height: 40vh;
    width: 90%;
    background-color: rgba(24, 24, 27, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: #8A8A8A;
    border-style: dashed;
}

.select-button {
    width: 30%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75em 1em;
    color: #ffffff;
    font-weight: 700;
    border-radius: 2em;
    font-size: 1rem;
    border: 0px;
    box-shadow: 0 0.7em 1.5em -0.5em hsla(0, 0%, 0%, 0.745);
}

.select-button:active {
    transform: translateY(-1px);
    box-shadow: 0 0.2em 1.5em -0.5em hsla(0, 0%, 0%, 0.745);
    opacity: 0.8;
}



#select-remove-button,
#confirm-remove-button {
    background: linear-gradient(90deg, rgba(233, 195, 148, 1) 0%, rgba(255, 50, 50, 1) 100%);
}

#select-extract-button,
#confirm-extract-button {
    background: linear-gradient(90deg, rgba(70, 137, 140, 1) 0%, rgba(115, 18, 115, 1) 100%);
}

#select-split-button,
#confirm-split-button {
    background: linear-gradient(90deg, rgba(234, 237, 85, 1) 0%, rgba(44, 115, 18, 1) 100%);
}

.file-card {
    height: 80%;
    background-color: rgb(45, 45, 46);
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 180px;
}

.file-card img {
    width: 3vw;
    height: 90%;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    flex-grow: 10;
}

.pdf-name {
    overflow: hidden;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

.operation-settings {
    height: 25vh;
    width: 75%;
    background-color: rgba(24, 24, 27);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05), 0px 8px 15px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.1);
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
}

.split-operation-settings {
    height: 30vh;
    width: 75%;
    background-color: rgba(24, 24, 27);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05), 0px 8px 15px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.1);
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
}

.input-settings {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
    margin: 5px;
}

.split-input-interval-settings {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    align-items: center;
    margin: 5px;
    background-color: #242121;
}

.split-select-interval-type {
    display: flex;
    flex-direction: column;
}

.split-interval-type {
    padding: 10px;
    cursor: pointer;
}

.split-interval-type.active {
    padding: 10px;
    opacity: 0.5;
    background-color: rgb(23, 23, 25);
}

#split-interval-type-one {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

#split-interval-type-two {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top: 1px #8A8A8A solid;
}

.input-pages {
    border-radius: 12px;
    padding: 0.5rem;
    background-color: rgb(31, 31, 33);
    border: 1px solid #8A8A8A;
    color: #ffffff;
}

.input-pages:focus {
    border: 2px solid #c3c3c3;
    outline: none;
}

.confirm-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirm-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.75em 1em;
    color: #ffffff;
    font-weight: 700;
    border-radius: 2em;
    font-size: 1rem;
    border: 0px;
    box-shadow: 0 0.7em 1.5em -0.5em hsla(0, 0%, 0%, 0.745);
}

.confirm-button:active{
    transform: translateY(-1px);
    box-shadow: 0 0.2em 1.5em -0.5em hsla(0, 0%, 0%, 0.745);
    opacity: 0.8;
}

.confirm-button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.output-result {
    margin-top: 8px;
    margin-bottom: 0px;
    font-size: small;
}


.button-text {
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
}